body
{
    background-color: black;
    color:white;
    font-family: Segoe Print;
}
.main-elements
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#title, #logo
{
    float:left; display:inline; margin: 9px 20px 25px 20px;
}
#search-bar
{
    display:inline-block; margin: auto;
    padding: 0;
    height: 3vh;
    position: relative;
    left: 0;
    outline: none;
    border: 0.2rem solid #89cff0;
    border-color: #89cff0;
    border-radius: 50px;
    font-size: 16px;

}
#seach-btn
{
    display:inline-block; margin: auto;
    background-color: #89cff0;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}